.main{
    margin-top: 15px;
}
.toolbar{
    background-color: #0b2388;
    color: white;
}
.custom-btn{
    background-color: #0b2388;
    color: white;
    border-radius: 0px;
}
.loading-screen{
    position: absolute;
    height: 100vh;
    width: 100%;
}
.checkbox-section{
    margin: 12px 0;
}
.checkbox-margin{
    margin: 0 12px;
}
.content{
    padding: 25px 25px;
}
.filters{
    margin-bottom: 15px;
}
.products{
    padding: 0px 25px;
}
.product{
    margin: 15px;
    border-radius: 0px;
}
.filter{
    margin: 0px 10px;
}
.message{
    text-align: center;
}